<div class="modal">
  <div class="modal__head">
    <span class="modal__icons modal__icons-trash icon-trash"></span>
    <span class="modal__icons icon-close"></span>
    <span class="modal__icons icon-check"></span>
  </div>
  <h1 class="modal__title">Add Task</h1>
  <form class="modal__main-content" name="task" action="#">
    <fieldset class="modal__group">
      <legend class="modal__heading">title</legend>
      <input class="modal__field" name="title" type="text" placeholder="Add title here">
    </fieldset>
    <fieldset class="modal__group">
      <legend class="modal__heading">description</legend>
      <input class="modal__field" name="description" type="text" placeholder="Add description here">
    </fieldset>
    <fieldset class="modal__group">
      <legend class="modal__heading">category</legend>

      <label class="caption caption-work">
        <input class="modal__choose" id="work" name="category" type="radio" value="work" checked>
        <label class="change-radiobtn"  for="work"></label>
        Work
      </label>

      <label class="caption caption-education">
        <input class="modal__choose" id="education" name="category" type="radio" value="education">
        <label class="change-radiobtn" for="education"></label>
        Education
      </label>

      <label class="caption caption-hobby">
        <input class="modal__choose" id="hobby" name="category" type="radio" value="hobby">
        <label class="change-radiobtn" for="hobby"></label>
        Hobby
      </label>

      <label class="caption caption-sport">
        <input class="modal__choose" id="sport" name="category" type="radio" value="sport">
        <label class="change-radiobtn" for="sport"></label>
        Sport
      </label>

      <label class="caption caption-other">
        <input class="modal__choose" id="other" name="category" type="radio" value="other">
        <label class="change-radiobtn" for="other"></label>
        Other
      </label>

    </fieldset>
    <fieldset class="modal__group">
      <legend class="modal__heading">deadline</legend>
      <input class="modal__field" id="datepicker" type="text" name="date" placeholder="May 23, 2018" readonly>
    </fieldset>
    <fieldset class="modal__group">
      <legend class="modal__heading">Estimation</legend>
      <fieldset class="estimation">
        <input class="tomato-rank" id="pom4" type="radio" name="estimation" value="5">
        <label class="option-title" for="pom4"></label>
        <input class="tomato-rank" id="pom3" type="radio" name="estimation" value="4">
        <label class="option-title" for="pom3"></label>
        <input class="tomato-rank" id="pom2" type="radio" name="estimation" value="3" checked>
        <label class="option-title" for="pom2"></label>
        <input class="tomato-rank" id="pom1" type="radio" name="estimation" value="2">
        <label class="option-title" for="pom1"></label>
        <input class="tomato-rank" id="pom0" type="radio" name="estimation" value="1">
        <label class="option-title" for="pom0"></label>
      </fieldset>
    </fieldset>
    <fieldset class="modal__group">
      <legend class="modal__heading">priority</legend>

      <label class="caption caption-urgent">
        <input class="modal__choose" id="urgent" name="priority" type="radio" value="urgent" checked>
        <label class="change-radiobtn" for="urgent"></label>
        Urgent
      </label>

      <label class="caption caption-high">
        <input class="modal__choose" id="high" name="priority" type="radio" value="high">
        <label class="change-radiobtn" for="high"></label>
        High
      </label>

      <label class="caption caption-middle">
        <input class="modal__choose" id="middle" name="priority" type="radio" value="middle">
        <label class="change-radiobtn" for="middle"></label>
        Middle
      </label>

      <label class="caption caption-low">
        <input class="modal__choose" id="low" name="priority" type="radio" value="low">
        <label class="change-radiobtn" for="low"></label>
        Low
      </label>
    </fieldset>
  </form>
</div>
