<div class="modal overflow-modal invisible">
  <div class="modal__head">
    <span class="modal__icons icon-close"></span>
  </div>
  <h1 class="modal__title">Remove Task</h1>

  <div class="warning">
    <p class="warning__message">Are you sure you want to remove selected task(s)?</p>
    <button class="btn btn-primary" type="button">Cancel</button>
    <button class="btn btn-remove" type="button">Remove</button>
  </div>

</div>
