<h1 class="title">Daily Task List <button class="icon-add add-task-btn" type="button"></button></h1>
<figure class="first-entrance">
    <a class="first-entrance__link" href="#" title="add first task"><img src="/tomato-add.svg" alt="add first task" width="170" height="170"></a>
    <figcaption class="first-entrance__description">
        <p class="first-entrance__subtitle">Add your first task</p>
    </figcaption>
</figure>
