<!--<h1 class="title">Daily Task List <button class="icon-add add-task-btn" type="button"></button></h1>-->
<!--<section class="tasks">-->
    <!--<div class="select-tabs">-->
    <!--<ul class="tabs status-tabs">-->
      <!--<li class="tabs__item todo-link">To Do</li>-->
      <!--<li class="tabs__item done-link">Done</li>-->
    <!--</ul>-->
  <!--</div>-->
  <!--<ul class="tasks__list daily-list"></ul>-->
<!--</section>-->
<!--<figure class="first-entrance no-tasks">-->
<a class="first-entrance__link" href="#" title="add new task"><img src="/tomato-addv02.svg" alt="add new task" width="170" height="170"></a>
<figcaption class="first-entrance__description">
    <p class="first-entrance__subtitle">You don't have any tasks left.</p>
    <p class="first-entrance__subtitle">Add new tasks to stay productive.</p>
</figcaption>
<!--</figure>-->
