<li class="daily-task-zone">
    <h2 class="add-task__title">Task added,</h2>
    <h2 class="add-task__title">drag it to the top 5 in daily task list</h2>
    <div class="icon-arrow_circle"></div>
</li>
