<h1 class="title">Daily Task List <button class="icon-add add-task-btn" type="button"></button></h1>
<figure class="first-entrance">
    <a class="first-entrance__link" href="#settings" title="settings"><img src="/tomato_settings.svg" alt="settings" width="170" height="170"></a>
    <figcaption class="first-entrance__description">
        <p class="first-entrance__subtitle">As you visited our site for a first time you can check</p>
        <p class="first-entrance__subtitle">and customize your default application settings</p>
    </figcaption>
</figure>
<a class="btn btn-primary" href="#task-list">Skip</a>
<a class="btn btn-success" href="#settings">Go to Settings</a>
