<div class="container">
    <h1 class="logo invisible"><a href="#task-list"><img src="/Logo.svg" alt="logo"></a></h1>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item invisible"><a class="icon-add" href="#task-list" data-tooltip="Add Task"></a></li>
            <li class="navbar__item"><a class="icon-trash" href="#task-list" data-tooltip="Remove Tasks"><span class="remove-task-counter invisible"></span></a></li>
            <li class="navbar__item"><a class="icon-list" href="#task-list" data-tooltip="Go to Task List"></a></li>
            <li class="navbar__item"><a class="icon-statistics" href="#reports" data-tooltip="Go to Statistics"></a></li>
            <li class="navbar__item"><a class="icon-settings" href="#settings" data-tooltip="Go to Settings"></a></li>
        </ul>
    </nav>
</div>
