<h1 class="title">Report</h1>
<section class="report">
    <ul class="tabs tabs-date">
        <li class="tabs__item tabs__active">Day</li>
        <li class="tabs__item">Week</li>
        <li class="tabs__item">Month</li>
    </ul>
    <div class="schedule" id="chart"></div>
    <a class="icon-arrow-left back-link" href="#task-list" data-tooltip="Go to Global List"></a>
    <ul class="tabs tabs-type">
        <li class="tabs__item">Pomodoros</li>
        <li class="tabs__item tabs__active">Tasks</li>
    </ul>
</section>
