<h2 class="cycle__title">Your cycle</h2>
<div class="cycle__header">
    <p class="start">0m</p>
    <p class="alltime-iteration"></p>
    <p class="alltime"></p>
</div>
<div class="graph">
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="work"></div>
    <div class="long-break"></div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="iteration">
        <div class="work"></div>
        <div class="break"></div>
    </div>
    <div class="work"></div>
</div>
<div class="timeline">
    <p class="time-iteration">30m</p>
    <p class="time-iteration">1h</p>
    <p class="time-iteration">1h 30m</p>
    <p class="time-iteration">2h</p>
    <p class="time-iteration">2h 30m</p>
    <p class="time-iteration">3h</p>
    <p class="time-iteration">3h 30m</p>
    <p class="time-iteration">4h</p>
    <p class="time-iteration">4h 30m</p>
    <p class="time-iteration">5h</p>
</div>
